<% content_for :new do %>
  <div id="header">
  <h1>Articl.es</h1>
  <h4>... not just for the country of Spain</h4>
  </div>
<% end %>
<% content_for :edit do %>
   <div id="header">
  <h1>Articl.es</h1>
  <h4>... my cousin works for Bit.ly</h4>
  </div>
<% end %>
<% content_for :show do %>
  <div id="header">
  <h1>Articl.es</h1>
  <h4>... what's "Articl" in Spanish anyway?</h4>
  </div>
<% end %>
<% content_for :index do %>   
  <div id="header">
  <h1>Articl.es</h1>
  <h4>... with a name .com hipsters love!</h4>
  </div>
<% end %>

