<div id="header">
<h1>Articl.es</h1>
<h4>... my cousin works for Bit.ly</h4>
</div>

<div id="redirects">
<%= link_to image_tag("arrow_left.png") + 'Back' , :back, {:title => "Back to previous page"} %>
</div>

<h3>
  Editing "<%= @article.title %>"
</h3>
<%= render 'form' %>


