- content_for :new do
  #header
    %h1 Articl.es
    %h4 ... not just for the country of Spain
  %ul#menubar
    %li
      =link_to 'Articles', articles_url
    %li
      =link_to 'Authors', authors_url
- content_for :edit do
  #header
    %h1 Articl.es
    %h4 ... my cousin works for Bit.ly
  %ul#menubar
    %li
      =link_to 'Articles', articles_url
    %li
      =link_to 'Authors', authors_url
- content_for :show do
  #header
    %h1 Articl.es
    %h4 ... what's "Articl" in Spanish anyway?
  %ul#menubar
    %li
      =link_to 'Articles', articles_url
    %li
      =link_to 'Authors', authors_url
- content_for :index do
  #header
    %h1 Articl.es
    %h4 ... with a name .com hipsters love!
  %ul#menubar
    %li
      =link_to 'Articles', articles_url
    %li
      =link_to 'Authors', authors_url