// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 
{
  font-size:3.5em;
  font-family:Arial;
}
p
{
width: 900px;
}
h3
{
  font-size:2em;
  padding-bottom:10px;
  margin-bottom:0;
}
div#redirects
{
  a
  {
    padding-left:10px;
    padding-right:90px;
  }
}
div#header
{
  margin-left:auto;
  margin-right:auto;
  width:60%;
}
h2
{
  float:left;
}
div#new_article_link
{
 margin-left: 500px;
 padding-top: 18px;
 width:auto;
}
div#table
{
  margin:0;
  height:260px;
  width:900px;
  overflow:hidden;
  padding:0px;
  padding-top:30px;
  .scrollable
  {
    
    width:880px;
    .body
    {
      width:24.5em;
    }
  }
    
  
  table
  {
    border:0; 
    cellpadding:0; 
    cellspacing:0; 
    width:100%;
    border-collapse:collapse;
  }
  .title
  {
    width:12em;
  }
   .author
  {
    width:12em;
  }
   .body
  {
    width:24em;
  }
  .date
  {
    width:13em;
  }
  th
  {
    background-color: #ccc;
    
  }
  tr:nth-child(even)
  {
    background-color: #ddd;
  }
  .link
  {
     background-color: #fff;
     border: none;
     width:1em;
     padding: 2px;
  }
  
  th, td
  {
    border-collapse:collapse;
    border: 1px solid black;
    padding:2 px;
    margin:0;
  }
}
.field
{
 label
 {
  display:block;
  width:75px;
  text-align:right;
  float:left;
  padding-right:10px;
 }
 input
 {
  width:200px;
 }
 text-area
 { 
  width:400px;
  overflow:auto;
  padding-left:0;
 
 }

}
.actions
{
  padding-left:85px;
}

ul#menubar {
  list-style-type:none;
  margin: 0 px 0px 20px 0px;
  padding: 10px;
  background-color: #F0F0F0;
  li
  {
  font-family:Arial;
    display: inline;
    margin-right: 100px;
    padding: 0px;
    font-size: 2em;
    a {
      color: #000;
        &:visited {
          color: #666; }
        &:hover {
          color: #fff;
    background-color: #000; } }
    
  }
 }