<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @add_order_id_to_line_item.order_id %>
</p>


<%= link_to 'Edit', edit_add_order_id_to_line_item_path(@add_order_id_to_line_item) %> |
<%= link_to 'Back', add_order_id_to_line_items_path %>
